<form id="edit-todo-form" action="">
        <div class="form-group">
                <label for="">Title</label>
                {{input type="text" class="form-control" value=model.title placeholder="Add Todo..."}}
        </div>
        <div class="form-group">
                <label for="">Due Date</label>
                {{input type="date" class="form-control" value=model.date}}
        </div>
        <div class="form-group">
                <label for="">Body</label>
                {{textarea class="form-control" value=model.body placeholder="What to do..."}}
        </div>
        <button {{action 'editTodo' model.id}} class="btn btn-primary">
                Submit
        </button>
        {{#link-to 'todos' class='btn btn-default'}}Close{{/link-to}}

        <button {{action 'deleteTodo' model.id}} class="btn btn-danger float-right">
                Delete
        </button>
</form>